<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <img src="/assets/logo.svg" alt="">
        </div>
        <div class="header-nav-item">Главная</div>
        <div class="header-nav-item">О компании</div>
        <div class="header-nav-item">Каталог</div>
    </div>
    <div class="header-right">
        <div>
            <img src="/assets/phone.svg" alt="">
        </div>
        <div>+7 (965) 084-29-29</div>
        <div>
            <img src="/assets/heart.svg" alt="">
        </div>
        <button> <img src="/assets/cart.svg" alt=""> Пусто</button>
    </div>
</div>